.paginationDot {
  position: relative;
  top: 53px;
}
.paginationDot--isActive {
  background-color: #59FF00;
}
.caretIcon {
  position: relative;
  top: 272px;
  color: #59ff00;
}
.sliderLayoutContainer--carousel {
  background-color: transparent;
  width: 70%;
  align-items: center;
  justify-content: center;
}