.nameContainer {
  color: #fff;
}
.buyButton {
  background-color: #59FF00;
  
}
.buyButtonText {
  background-color: #59FF00;
  color: #212121;
}
.nameContainer {
  color: #fff;
}
.containerNormal {
  padding: 0px;
}